body {
    background-image: url(img/fondo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;       
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
    
    
}
body h1{
    font-size: 60px;
    background-color:rgb(124, 123, 123);
    color: white;
    

}body h2{
    font-size: 45px;
    color:black;
    

}
#filters {
    margin-bottom: 20px;
}

#filters input, #filters button {
    padding: 10px;
    margin-right: 10px;
    font-size: 25px;
}

#resultados {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
}

.art-item {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.art-item img {
    width: 100%;
    height: auto;
}

.art-item button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.art-item button:hover {
    background-color: #0056b3;
}
